* {
    /* initial style for everything. Will be overridden where need be */
    border:none;
    margin:0;
    padding: 0;
}

header {
    /* used for the top-heading */
    background-color: grey;
    width: 100%;
    height:50px;
}