* {
    /* initial style for everything. Will be overridden where need be */
    border:none;
    margin:0;
    padding: 0;
}

header {
    /* used for the top-heading */
    background-color: cadetblue;
    width: 100%;
    height:50px;
}

body {
    background-image: url("../pictures/starfield.jpg");
    /*in case background can not be loaded, set a background color */
    background-color: black;
}

header h1 {
    /* h1 in the top-header */
    text-align: justify;
    text-transform: capitalize;
    color: white;
}

.flex-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  color:white;
}

h1,h6 {
    color:white;
    text-align: center;
}

#isac-face {
    width:50px;
    height:50px;
    float:left;
    clear: both;
}

.sidenav {
    height: auto;
    width: 200px; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 60px; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    background-image: url("../pictures/starfield.jpg");
    /*in case background can not be loaded, set a background color */
    background-color: black; 
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: wheat;
    display: block;
  }

  article div p {
    color: wheat;
    font-size: large;
  }

  .main {
    color:wheat;
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  .bibliography {
    color:wheat;
  }

  .table-center {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  caption {
    text-transform: capitalize;
    text-decoration: underline;
    font-size: larger;
  }

  footer {
    /* used for the footer */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: cadetblue;
    height:50px;
}

table {
  width: 100%;
}

/* table td {
  border-collapse: collapse;
  text-align: center;
}
*/

.bibliography {
  text-align: center;
  caption-side: top;
}

.hor-row {
  border: 1px dashed red;
}

.active {
  background-color: cadetblue;
  color: white;
}

td {
  text-align: left;
  vertical-align: top;
}

.main p {
  float:left;
}